.dashboard-container {
   width: 100%;
   min-height: 100vh;
   background-image: linear-gradient(#c78a56, #f6d05f);
   padding: 1rem;
}

.search-form {
   width: 100%;
   margin: 2% auto;
   padding: .5rem;
   position: relative;
   max-width: 35rem;
}

.search-form > input {
   width: 100%;
   height: 100%;
   padding: 5px 2.5rem 5px 10px;
   font-size: 1.1rem;
   top: 0;
   left: 0;
   border-radius: 50px;
}

.search-icon-wrapper {
   background-color: transparent;
   border: none;
   width: 3rem;
   margin-right: .5em;
   cursor: pointer;
   overflow: hidden;
   position: absolute;
   right: 0;
   top: 10%;
}
.search-icon {
   width: 100%;
   background-color: transparent;
   display: block;
}

.search-icon-2 {
   display: block;
   width: 1rem;
}

.search-form input:hover {
   box-shadow: 1px 1px 5px rgba(73, 25, 25, 0.562);
}
.search-form input:focus {
   box-shadow: 2px 3px 8px rgba(73, 25, 25, 0.781);
   outline: none;
}

/* --------------DASHBOARD GAME CSS----------------- */


.dashboard-game-wrapper {
   background-image: linear-gradient(#c78a56, #f6d05f);
}

.title-card,
.stores-wrapper {
   padding: .5rem 1rem;
   max-width: 1000px;
   margin: auto auto;
}

.title-card > h2 {
   padding: .5em;
   color: white;
   font-size: 1.6rem;
}

.title-card-img-wrapper > img {
   min-width: 12rem;
}

.title-card-img-wrapper {
   max-width: 15rem;
   max-height: 20rem;
   margin: 1rem auto;
}

.title-card-btns {
   display: flex;
   justify-content: space-evenly;
   max-width: 30rem;
   margin: auto auto;
}

.title-card-btns > * {
   background-color: rgb(71, 71, 71);
   color: white;
}

.title-card-btns button:nth-child(1):hover {
   background-color: rgba(255, 19, 19, 0.801);
}

.title-card-btns button:nth-child(2):hover {
   background-color: rgb(0, 196, 0);
}

.title-card-btns > *,
.store-sale-data-wrapper button {
   border: 1px solid black;
   padding: .3em .8em;
   border-radius: 15px;
   max-width: 8rem;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.808);
   font-family: var(--accent-font);
   font-size: .9rem;
   cursor: pointer;
}

.store-sale-data-wrapper button:hover {
   background-color: #68824f;
   color: white;
   border: rgba(255, 255, 255, 0.678) 1px solid;
}

.store-wrapper {
   border: 1px solid rgba(0, 0, 0, 0.795);
   background-color: rgba(255, 255, 255, 0.753);
   margin: 1.5rem auto;
   padding: .5rem;
   box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.575);
   border-radius: 10px;
   max-width: 30rem;
}

.store-wrapper h3 {
   font-size: 1.3rem;
   padding: .5em 0;
}

.store-info-wrapper {
   display: flex;
}

.store-img-wrapper {
   max-width: 35%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.store-img-wrapper > img {
   width: 100%;
   display: block;
}

.store-sale-data-wrapper {
   width: 65%;
   max-width: 15rem;
   padding: 0 0 0 8%;
   margin: 0 auto;
   font-size: .9rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: left;
   line-height: 1.8em;
}

.store-sale-data-wrapper a {
   padding: .5rem 0;
   margin-right: auto;
   text-decoration: none;
   color: black;
}


/*----------------- MEDIA QUERIES---------------------- */

@media all and (min-width: 500px) {
   .store-wrapper h3 {
      font-size: 1.5rem;
   }

   .store-sale-data-wrapper * {
      font-size: 1rem;
   }
}

@media all and (min-width: 900px) {
   .title-card > h2 {
      font-size: 2rem;
   }

   .title-card-img-wrapper > img {
      min-width: 15rem;
   }
   
   .title-card-img-wrapper {
      max-width: 20rem;
      max-height: 24rem;
   }

   .title-card-btns {
      justify-content: space-evenly;
      max-width: 40rem;
   }

   .title-card-btns > * {
      margin: .5em 1em;
      font-size: 1.2rem;
   }

   .title-card-btns > *,
   .store-sale-data-wrapper button {
   padding: .4em 1em;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.685);
   font-size: 1.1rem;
   max-width: 10rem;
}

   .stores-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .store-wrapper {
      margin: 2rem 1rem;
      padding: 1rem;
      max-width: 45%;
   }

   .store-wrapper h3 {
      font-size: 1.6rem;
      padding-bottom: .8em;
   }

   .store-img-wrapper {
      max-width: 45%;
  }

   .store-sale-data-wrapper {
      min-width: 55%;
      padding-left: 2em;
   }

   .store-sale-data-wrapper * {
      font-size: 1.1rem;
   }

}