.dashboard-container {
   width: 100%;
   background-color: rgb(231, 231, 231);
   padding: 2em 5%;
   height: 100vh;
}

.search-form {
   width: 100%;
   /* border: black dotted 2px; */
}

.global-search-div {
   /* border: red solid 2px; */
   height: 2rem;
   margin: 5px;
   display: flex;
   justify-content: center;
}

.global-search-div > input{
   border: 1px solid black;
   width: 60%;
   height: 100%;
   max-width: 15rem;
   font-size: 14px;
   border-radius: 15px;
   padding-left: .6rem;
}

.global-search-div > input:hover {
   box-shadow: 2px 3px 3px rgb(182, 172, 172);
   /* border: 2px solid black; */
}
.global-search-div > input:focus {
   box-shadow: 2px 3px 3px rgb(182, 172, 172);
   outline: none
}

.global-search-div > button {
   /* border: blue solid 1px; */
   height: 100%;
   background-color: transparent;
   /* border: none; */
   border-radius: 50%;
   cursor: pointer;
}
.search-icon {
   height: 100%;
   width: auto;
   background-color: transparent;
}

.store-wrapper {
   border: 2px solid black;
   margin: 15px 0;
   padding: 5px;
}

/* .store-wrapper * {
   border: 1px solid black;
   padding: 3px;
} */

.store-info-wrapper {
   display: flex;
   border: black 1px solid;
}

.store-info-wrapper > * {
   padding: 5px;
}

.store-img-wrapper {
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.store-img-wrapper > img {
   max-width: 100%;
   text-decoration: none;
}

.store-sale-data-wrapper {
   border-left: 1px solid black;
   min-width: 55%;
   max-width: 30rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: left;
}

