.dashboard-container {
   width: 100%;
   background-color: rgb(231, 231, 231);
   padding: 1rem;
}

.search-form {
   /* border: 2px solid black; */
   width: 100%;
   padding: 1rem 5%;
}
/* .search-form * {
   border: 1px solid black;
} */

.search-wrapper {
   border: 1px solid black;
   position: relative;
   height: 2.5rem;
   overflow: hidden;
   border-radius: 20px;
}

.search-wrapper > input {
   width: 100%;
   height: 100%;
   border: none;
   padding-left: 5%;
   padding-right: 3.5rem;
   font-size: 1.1rem;
   position: absolute;
   top: 0;
   left: 0;
}

.search-icon-wrapper {
   background-color: transparent;
   border: none;
   width: 3rem;
   margin-right: .5em;
   cursor: pointer;
   overflow: hidden;
   position: absolute;
   right: 0;
}
.search-icon {
   width: 100%;
   transform: scale(1.1);
   background-color: transparent;
   display: block;
}

.search-icon-2 {
   display: block;
   width: 1rem;
}

.global-search-div > input:hover {
   box-shadow: 2px 3px 3px rgb(182, 172, 172);
}
.global-search-div > input:focus {
   box-shadow: 2px 3px 3px rgb(182, 172, 172);
   outline: none
}

/* --------------DASHBOARD GAME CSS----------------- */

.title-card {
   margin: .5rem;
}

.title-card > h2 {
   margin: .5em;
}

.title-card-btns {
   display: flex;
   justify-content: space-evenly;
}

.title-card-btns > *,
.store-sale-data-wrapper > button {
   padding: .5em 1em;
   border-radius: 15px;
   border: 1px solid black;
   max-width: 8rem;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
   margin: auto auto;
}

.title-card-img-wrapper {
   max-width: 15rem;
   max-height: 20rem;
   margin: 1rem auto;
}


.store-wrapper {
   border: 2px solid black;
   margin: 15px 0;
   padding: 5px;
}

/* .store-wrapper * {
   border: 1px solid black;
   padding: 3px;
} */

.store-info-wrapper {
   display: flex;
   border: black 1px solid;
}

.store-info-wrapper > * {
   padding: 5px;
}

.store-img-wrapper {
   max-width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.store-img-wrapper > img {
   max-width: 100%;
   text-decoration: none;
}

.store-sale-data-wrapper {
   border-left: 1px solid black;
   min-width: 55%;
   max-width: 30rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-align: left;
}

.store-sale-data-wrapper a {
   text-decoration: none;
   color: black;
}
