.login-container {
    height: 100vh;
    padding: 5rem 1rem;
    background-color: white;
}

.login-container > form {
background-color: white;
padding: .5rem;
max-width: 25rem;
margin: 0 auto;
}

legend {
    padding: 0 10px;
}

.login-form {
    width: 100%;
    min-width: 15rem;
    min-height: 18rem;
}
.login-form * {
    font-size: 1.1rem;
}

/* .login-form * {
    border: 1px solid black;
    padding: 5px;
} */
.form-section {
    margin-top: 1.5rem;
}

.form-section > input {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.377);
    font-size: 1.1rem;
    padding: 5px;
    margin: 0 auto;
    width: 95%;

}

.form-section > input:focus {
    outline: 0;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.377)
}

.login-form-buttons {
    display: flex;
    flex-direction: column;
}

.login-form-buttons > button {
    border: 0;
    max-width: 8rem;
    padding: .3em 2em;
    margin: 1rem auto;
    border-radius: 20px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.719)
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media all and (min-width: 900px) {
    .login-container {
        height: 100vh;
        padding: 8rem 1rem;
        background-color: white;
    }
}