.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
}

.login-form * {
    border: 1px solid black;
}

.login-form > label, .login-form button {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.login-form-buttons {
    display: flex;
    flex-direction: column;
}
