.user-library-container {
    outline: black solid 1px;
    background-color: white;
    margin: auto;
    max-width: 75rem;
    min-width: 280px;
    min-height: 25rem;
}

.user-library-game-list {
    /* outline: black solid 1px; */
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-library-img-wrapper {
    max-width: 100%;
}

.user-library-img-wrapper > img {
    display: block;
    width: 100%;
}

.user-game {
    border: 1px black solid;
    padding: 3px;
    line-height: 1.2rem;
    width: 45%;
    max-width: 15rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.795)
}

.user-game > h4,
.user-game > p {
    word-wrap: wrap;
    max-width: 10rem;
}