
img {
    width: 100%;
    margin: 0 auto;

}

.wrapper {
    outline: black dotted 2px;
    margin: auto;
    max-width: 75rem;
    min-width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    outline: black dashed 2px;
    margin: 1%;
    justify-content: space-around;
}

.game-search {
    margin: 2% 0;
}

.game {
    padding: 1%;
    margin: .5rem 0;
    line-height: 1rem;
    min-width: 8rem;
    max-width: 20%;
    border: 2px black solid;
}

.game > h4, p {
    word-wrap: wrap;
    max-width: 10rem;
}