.user-library-container {
    border: black solid 1px;
    background-color: rgba(255, 255, 255, 0.493);
    margin: auto;
    padding: 1rem 0;
    max-width: 70rem;
    min-width: 280px;
    min-height: 25rem;
    border-radius: 10px;
}

.user-library-game-search > h2{
    font-size: 1.3rem;
}

.user-library-game-list {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-library-img-wrapper {
    max-width: 100%;
}

.user-library-img-wrapper > img {
    display: block;
    width: 100%;
}

.user-game {
    background-color: rgb(65, 65, 65);
    border: 1px black solid;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    width: 45%;
    max-width: 15rem;
    min-height: 12rem;
    margin: 1rem 0;
    line-height: 1.3rem;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.795);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-game > h4 {
    padding: .5em 0;
}
.user-game > p {
    word-wrap: wrap;
    max-width: 10rem;
}

@media all and (min-width: 700px) {

    .user-library-game-search > h2{
        font-size: 1.5rem;
    }

    .user-game {
        /* padding: 5px; */
        width: 45%;
        max-width: 16rem;
        min-height: 20rem;
        margin: 2rem 1.5rem;
        line-height: 1.5rem;
    }

    .user-game > h4 {
        padding: 1em .5em;
        font-size: 1.2rem;
    }
}