.header {
    position: relative;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
}

.header::before {
    content: "";
    background-image: url("../pics/header-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: .7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.header > nav {
    margin: 0;
    padding: 0;
    border: black 2px solid;
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    padding: 5px 10px;
    margin-left: .5rem;
}

.header > h1, a {
    color: black;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.header > h1, a:hover {
    color: blue;
}

.hide-nav {
    display: none;
}