img {
    width: 100%;
    max-width: 40rem;
}

.welcome-container {
    border: red 2px solid;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 75rem;
}

.sec-1 {
    border: 2px black solid;
    background-color: lightgray;
    padding: .5rem .5rem;
    margin-bottom: 2rem;
}

.sec-2 {
    border: 2px black solid;
    background-color: lightgray;
    padding: .5rem .5rem;
    margin-bottom: 2rem;
}